html, body {
    background: #DADADA;
    padding: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #333;
    margin: 30px;
}

#body {
    border: 0px;
    border-color: #FFFFFF;
    display: block;
}

#left.header {
	float: left;
	max-width: 50%;
	display: inline-block;
	position: relative;
	border-style: none;
}

#right.header {
	float: right;
	max-width: 50%;
	display: inline-block;
	position: relative;
}

 #hello {
 	font-family: 'Bangers', cursive;
 	font-size: 90px;
 	font-style: normal;
 	display: inline-block;
 	position: relative;
 	color: #777777;
}

#Zhamal {
	font-family: 'Bangers', cursive;
	display: inline-block;
	position: relative;
	font-stretch: extra-condensed;
	font-size: 70px;
	font-weight: 100;
	color: #46BFBB;
}

strong {
	color: #444444;
}

h1 {
	font-family: 'Bangers';
	font-size: 60px;
	float: right;
	padding: none;

}

#KG {
	font-size: 50px;
	display: inline-block;
	position: relative;
	color: #818286;
	font-family: 'Lobster';
}

hr {
	border-color: #46BFBB;
	border-style: dashed;
	border-width: 5px;
}

#middle {
	float: none;
	display: inline-block;
	font-family: 'Bangers', cursive;
	font-size: 35px;
	font-weight: 0;
	color: #818286;
	font: 30px;
}

#EEP {
	display: inline-block;
	position: relative;
	color: #46BFBB;
}

#UCB {
	display: inline-block;
	color: #353535;
	font-family: 'Lobster';
}

#ind, #ind2 {
	display: inline-block;
	position: relative;
	font-family: 'Lobster';
}

#sf {
	font-family: 'Montez', cursive;
	display: inline-block;
	position: relative;
	font-style: italic;
	font: 40px;
}

a {
	color: #5B5B5B;
}

a:hover {
	color:#353535; 
	background-color:transparent;
	text-decoration: none;
}

#create {
	display: inline-block;
	position: relative;
	font-family: 'Great Vibes', cursive;
	font-size: 45px;
	padding-right: 5px;
}

#hobbies, #hobbies2 {
	display: inline-block;
	position: relative;
	color: #5B5B5B;
}

#you {
	display: inline-block;
	position: relative;
	font-family: 'Lobster';
	text-decoration: underline;
}

#other, #other2 {
	display: inline-block;
	position: relative;
}

#USA {
	display: inline-block;
	position: relative;
}

#wd {
	font-family: 'Dancing Script';
	display: inline-block;
	position: relative;
}

#id {
	display: inline-block;
	position: relative;
	align-self: center;
}

#footer {
	line-height: 25px;
   	padding: 10px;
    position: relative;
    border-top: 5px solid #B8B8B8;
    display: block;
    text-align: center;
    bottom: 0;
}

img[width="40"] {
	border-color: #B8B8B8; 
	border-style: double; 
	border-radius: 50%;
	border-width: 5px;
}
   








