* {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  display: table; /* 2 */
  content: " "; /* 1 */
}

.clearfix:after {
  clear: both;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  margin: 2em;
  padding: 0;
  background: #eee;
}

.register {
  width: 20em;
  margin: auto;
}

.ticket h1 {
  text-align: center;
}

.ticket {
  font-family: monospace;
  width: 80%;
  margin: 0 auto;
  padding: 1em 1em 0;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
}

.ticket li {
  padding: 5px;
  list-style: none;
}

.ticket li, .ticket #total {
  text-align: right;
}

.total-amount {
  font-weight: bold;
  border-top: 1px solid black;
}

h1 {
  font-family: sans-serif;
}

h3 {
  float: left;
  margin-top: 17px;
}

p {
  float: right;
}

.entry-form {
  padding: 12px;
  border-radius: 10px;
  background: #333;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
}

.entry-form input {
  font-family: sans-serif;
  font-size: 20px;
  width: 58%;
  margin-right: 2%;
  padding: 10px;
  text-align: right;
  border: 1px solid black;
  box-shadow: inset 0 0 3px rgba(0,0,0,.5);
  border-radius: 2px;
}
.entry-form input:focus {
  border-color: rgba(255,255,255,.75);
  outline: none;
}

button {
  width: 38%;
  padding: 10px 5px;
  border: none;
  background-color: #FCD22D;
  outline: none;
  border-radius: 2px;
}
